body {
	padding: 0;
	margin: 0;
}

/**
 * These test transitions start at opacity != 0 so that you can see them
 * fading out through the asset fading in while testing.
 */

.long-fade-enter-active, .long-fade-leave-active {
  transition: opacity 5s;
}
.long-fade-enter {
  opacity: 0.2;
}
.long-fade-leave-active {
  opacity: 0;
}

.long-scale-enter-active, .long-scale-leave-active {
  transition: opacity 5s, transform 5s;
}
.long-scale-enter {
  opacity: 0.2;
	transform: scale(0.5);
}
.long-scale-leave-active {
	opacity: 0;
	transform: scale(0.5);
}

.spinner {
	width: 100px;
	height: 100px;
	background: black;
}
